
body{
    margin: 0;
    display: flex;
    justify-content: right;
    align-items: right;
    height: 100hv;
    background-color:hsl(0, 0%, 95%);

}
#calculator{
    font-family: Arial, Helvetica, sans-serif;
    background-color:antiquewhite;
    border-radius:15px;
    max-width: 500px;
    overflow: hidden;


}
#display{
    width: 100%;
    padding: 20px;
    font-size: 5rem;
    text-align: left;
    border: none;
    background-color: grey;
    color:white;

}
#keys{
   display:grid;
   grid-template-columns: repeat(4, 1fr);
   gap:10px;
   padding:25px; 
}
button{
    width: 100px;
    height: 100px;
    border-radius: 50px;
    border:none;
    background-color:grey;
    color: orange;
    font-size:x-large;
    font-weight:bold;
     cursor: pointer;

}
button:hover{
    background-color: rgb(183, 178, 178);

}
button:active{
    background-color: rgb(204, 196, 196);
}
.operator-btn{
    background-color: whitesmoke;
    }
    .operator-btn:hover{
        background-color: rgb(128, 123, 123);
        }
        .operator-btn:active{
            background-color: rgb(99, 96, 96);
            }
@media(max-width:600px){
    .calculator{
        width:100%
    }
}

